<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e408cf23-4de1-44bb-be9c-a2ead9a3fdc9/resourcegroups/aks-dev/providers/Microsoft.Web/sites/XorTag20231025160807</ResourceId>
    <ResourceGroup>aks-dev</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://xortag20231025160807.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5c05b427-4c24-4c19-858f-2540f867ec79</ProjectGuid>
    <PublishUrl>https://xortag20231025160807.scm.azurewebsites.net/</PublishUrl>
    <UserName>$XorTag20231025160807</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>